.search {
  position: relative;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 60px;
  transition: 1s;
  overflow: hidden;
  background-color: #242424;
}
.search .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #242424;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
}
.search .icon::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border: 2px solid #b3b3b3;
  border-radius: 50%;
  transform: translate(-2px, -2px);
}
.search .icon::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 9px;
  background-color: #b3b3b3;
  transform: translate(6px, 6px) rotate(-45deg);
  border-radius: 10px;
}
.search.active {
  width: 400px;
  background-color: #242424;
}
.search .input {
  position: relative;
  width: 320px;
  height: 35px;
  left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
}
.search .input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 10px 0;
}
.clear {
  position: absolute;
  top: 30%;
  right: -30px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%);
  background: inherit;
 
}
.clear::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #b3b3b3;
  transform: rotate(45deg);
}
.clear::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #b3b3b3;
  transform: rotate(-45deg);
}

.autocomplete__item {
  display: flex;
  padding: 15px 20px;
  font-size: 14px ;
  
}
.autocomplete__item:hover {
  cursor: pointer;
  background-color: #242424;
  transition: cubic-bezier(1, 0, 0, 1) 0.3s all;
}

.search__info{
  padding-left: 10px;
  position: relative;
}

.search__img{
  border-radius: 5px;
  top: 0;
  width: 40px;
  height: 60px;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
}
.search__year{
  position: absolute;
  bottom: 0;
  color: #b3b3b3;
  display: block;
  font-size: 14px;
}

.img__skeleton{
  background: linear-gradient(48deg, rgba(118,157,168,0.5203488372093024) 0%, rgba(30,54,69,0.5145348837209303) 63%);
  animation: gradient 8s infinite linear;
  background-size: 500%; 
  border-radius: 5px;
  top: 0;
  width: 40px;
  height: 60px;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
}