@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Roboto", sans-serif;
  color: #fffffff4;
  .container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .center {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  .load {
    width: 30px;
  }
  ::selection {
    background: #48adf0;
  }
}
body {
  background-color: #121212;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #121212;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;

  border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #48adf0;
}
